.my_Nav{
    position:absolute;
    left:650px;
    
}
.my_Footer{
    
    background-color:black;
    
}

.myVid{
    z-index: 2;
    top:60px;
}

.videoBanner{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0; 
    color: white;

}

.video_overlays {
    position:absolute;
    float:left;
        width:640px;
        min-height:370px;
        background-color:#000;
        z-index:300000;
    }

    .video_overlays2 {
        position:absolute;
        float:left;
            width:640px;
            min-height:370px;
            background-color:transparent;
            z-index:300000;
        }

.videoSize{
    width:6500px
}

.modal1{
    top:300px;
    width: 200px;
}

.card{
    width: 200px;
}
.card2{
    left:50px;
    width: 200px;
}

.fighter{
    height: 900px;
    transform: scaleX(-1);
}

.change_Color{
    color: antiquewhite;
    
}

.NavbarToggler{
    background-color:darkblue;
}

@media screen and (max-width:800px){
    .aboutPage{
        position:absolute;
        top: 310px;
        left: 155px;
        width: 55%;
        opacity: 0.8;
        animation: .4s rollout2;
    }
    }